.register{
    font-family:Arial;
    color:#000080;
    text-align:center;
    }
    .para-1{
    font-family:Arial;
    text-align:center;
    color:#000080;
    }
    .over-all{
    padding-top:50px;
    padding-bottom:80px;
    background-color:rgb(236, 232, 232);
    width:520px;
    height:470px; 
    margin-left:330px;
    margin-bottom:100px;
    padding-right:20px;
    }
    .username-input{
    height:30px;
    width:480px;
    margin-left:20px;
    }
    .first-name{
        height:30px;
        width:480px;
        margin-left:20px;
    }
    .lastname{
        height:30px;
        width:480px;
        margin-left:20px;
    }
    .whatsapp{
        height:30px;
        width:480px;
        margin-left:20px;
    }
    .email{
        height:30px;
        width:480px;
        margin-left:20px;
    }
    .password{
        height:30px;
        width:480px;
        margin-left:20px;
    }
    .check-box{
    margin-top:10px;
    margin-left:20px;
    display:inline-block;
    background-color:#000080;
    }
    .para-4{
    display:inline-block;
    margin-left:5px;
    font-family:Arial;
    }
    .para-5{
    display:inline-block;
    color:#000080;
    font-family:Arial;
    }
    .para-6{
    display:inline-block;
    margin-bottom:20px;
    margin-top:40px;
    font-family:arial;
    margin-left:38px;
    }
    .para-7{
    display:inline-block;

    margin-top:40px;
    color:#000080;
    font-family:arial;
    margin-left:15px;
    margin-right:40px;
    }
    .button-style{
    font-size:20px;
    font-family:Arial;
    background-color: #000080;
    height:55px;
    width:475px;
    margin-left:28px;
    border-radius:10px;
    color:white;

    cursor:pointer;
    }
    .button-style:hover{
    background-color:#A7B4C6;
    }
    .user-name{
    font-family:Arial;
    color:#000080;
    margin-left:10px;
    }
    .first-name1{
    font-family:Arial;
    color:#000080;
    margin-left:10px;
    }
    .last-name1{
    font-family:Arial;
    color:#000080;
    margin-left:10px;
    }
    .whatsapp-1{
    font-family:Arial;
    color:#000080;
    margin-left:10px;
    }
    .email-1{
    font-family:Arial;
    color:#000080;
    margin-left:10px;
    }
    .password-1{
    font-family:Arial;
    color:#000080;
    margin-left:10px;
    }