*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
.over-all{
  background-color: #2525A9;
  height: 500px;
}
.img-1{
  margin-top: 30px;
  margin-left: 50px;
  width: 15%;
}
.container{
  margin-left: 70%;
  margin-top: -2.5%;
}
.link-1{
  font-size: 20px;
  color:#6ec1e4;
  font-family: arial;
}
.link-2{
  margin-left: 20px;
  font-family: arial;
  font-size: 18px;
  color:#6ec1e4;
}
.link-2:hover{
 color:white;
}
.header{
  margin-left: 20%;
  font-family: arial;
  color:white;
  font-size: 420%;
  margin-top: 4%;
}
.header-1{
  margin-left: 35%;
  font-family: arial;
  color:white;
  margin-top: 8%;
}
.button-1{
  margin-top: 5%; 
  background-color:#6ec1e4 ;
  font-family: arial;
  margin-left: 38%;
  padding: 10px 35px 10px 35px;
  border-color: #6ec1e4;
  border-radius: 10px;
  font-size: 20px;
  color: white;
}